{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <h2>Scheduled Streams</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Stream URL</th>
                    <th>Scheduled Time</th>
                    <th>Action</th>
                    <th>Status</th>
                    <th>Group</th>
                </tr>
            </thead>
            <tbody>
                {% for stream in streams %}
                <tr>
                    <td>{{ stream.stream_url }}</td>
                    <td>{{ stream.schedule_time }}</td>
                    <td>{{ stream.action }}</td>
                    <td>{{ stream.status }}</td>
                    <td>{{ stream.user.group }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}